@font-face {
    font-family: Avenir Heavy;
    src: url('Avenir-Heavy-05.ttf') format('truetype');
}

@font-face {
    font-family: Avenir Medium;
    src: url('Avenir-Medium-09.ttf') format('truetype');
}

@font-face {
    font-family: Avenir Oblique Medium;
    src: url('Avenir-MediumOblique-10.ttf') format('truetype');
}
@font-face {
    font-family: Avenir Oblique Heavy;
    src: url('Avenir-HeavyOblique-06.ttf') format('truetype');
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #f5f5f5;
  color: #1b1b1b;
  font-family: 'Avenir Medium';
}

.a4-container {
  height: 100%;
  min-height: 100vh;
  box-sizing: border-box;
}

.nav {
    position: absolute;
    top: calc(50% - 50px);
    transition: all 0.5s ease-out;
    opacity: 0.1;
}

.nav:hover {
    opacity: 1;
    transition: all 0.4s ease;
}

.nav img {
    height: 100px;
}

.leftnav {
    left: calc(50% - 460px);
}

.leftnav:hover{
    left:calc(50% - 470px);  
}

.rightnav {
  right: calc(50% - 460px);
}

.rightnav:hover{
    right:calc(50% - 470px);
}

.a4-sheet {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  aspect-ratio: 1 / 1.414;

  max-width: 210mm;
  max-height: 297mm;

  width: 90vw;
  height: auto;

  background-color: white;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);

  box-sizing: border-box;
  overflow: auto;
}

.content-wrapper {
  padding: 10mm;
  height: 100%;
  width: 100%;
  height: calc(100% - 20mm);
  width: calc(100% - 20mm);
}

.grid-wrapper{
  position: absolute;
  height: calc(100% - 20mm);
  width: calc(100% - 20mm);
}

.top-line {
  position: absolute;
  top: 7mm; 
  width: 99.2%;
  border: 1px solid grey;
}

.grid {
  width: 14.5%;
  float: left;
  height: 100%;
  margin-right: 2.1%;
  border: 1px solid grey;
}

.grid .numb {
padding-left: 0px;
padding-top: 6px;
font-size: 10px;
font-family: 'Avenir Medium';
}

.grid:last-child {
  margin-right: 0;
}

.text-wrapper {
  position: absolute;
  height: calc(100% - 20mm);
  width: calc(100% - 20mm);
}

.title {
  position: absolute;
  top: 15%;
  left: -3%;
  right: 0;
  text-align: center;
  /* margin-left: -8px; */
  font-size: 100px;
  font-family: 'Avenir Heavy';
}

.lutz {
  transform: rotate(-90deg);
  position: absolute;
  bottom: 31px;
  left: 48px;
  font-size: 150px;
  font-family: 'Avenir Heavy';
}

@supports not (aspect-ratio: 1 / 1.414) {
  .a4-sheet::before {
    float: left;
    padding-top: 141.4%;
    content: "";
  }

  .a4-sheet::after {
    display: block;
    content: "";
    clear: both;
  }
}

@media (orientation: portrait) {
  .a4-sheet {
    width: 90vw;
    height: auto;
  }
}

@media (orientation: landscape) {
  .a4-sheet {
    width: auto;
    height: 90vh;
  }
}